body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9edee8b;
    
}

header, footer {
    background-color: #222F3F;
}

header img {
    margin-left: 20px;
    width: 8%;
    height: 100%;
   }

nav{
    background-color: #364759;
    padding: 7px;
}

.navigazione a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.navigazione li {
    display: inline-block;
    margin-left: 20px;
}

.boxgiftcards {

    text-align: center;
    color: white;
    background-color: #F56600;
    margin-top: 20px;
    padding: 10px;
}

.container {
    text-align: center;
    margin-top: 20px;
    background-image: url(/Progetto-Settimana-2/img/bg-image.png);
    background-size:auto;
    padding: 50px;
}

.container h1 {
    color: white;
    font-weight: bold;
    font-size:xx-large;
}

.container h2 {
    color: white;
    font-weight: bold;
   
}

.containerimmagini {
    background-color: #E9EDEE;
}


.containerimmagini img{
    object-fit: cover;
    background-color: #white;
    float: left;
    width: 250px;
    height: 300px;
    margin: 50px;
    border-radius: 15%;
    box-shadow: 10px 10px 5px #ccc;
}

.secondoblocco {

    text-align: center;
}

.secondoblocco a {
    font-weight: bold;
    color: #438F99;
}

.secondoblocco img {
   
   
    width:1000px;
    object-fit: cover;
}

.terzoblocco {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.terzoblocco a {
    font-weight: bold;
    color: #438F99;
}
.terzoblocco img {
   
   
    width:1000px;
    object-fit: cover;
}



.totop {
    background-color: #44505f;
    padding: 10px;
    text-align: center;
}
    
.totop a {
    color: white;
}

footer {
    text-align: center;
}


footer img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 8%;
    height: 100%;
}
